
<div>
  <div class="row" style="padding-top: 50px; padding-left: 20px; padding-right: 20px">
    <h3>
      {{'TITLE' | translate}}
    </h3>
  </div>
  <div class="row" style="padding-left: 20px">
    <div class="col col-md-4">
      <p>{{'EMAIL' | translate}}</p>
    </div>
    <div class="col col-md-4">
      <p>{{'MOBILE' | translate}}</p>
    </div>
    <div class="col col-md-4">
      <p>{{'LINKED_IN' | translate}}</p>
    </div>
  </div>


  <div class="row" style="margin-top: 30px">
    <div class="col col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ng-class="{'active':view.experience}">
          <a ng-click="view = {experience: true}">{{'HEADER_1' | translate}}</a>
        </li>
        <li role="presentation" ng-class="{'active':view.projects}">
          <a ng-click="view = {projects: true}">{{'HEADER_2' | translate}}</a>
        </li>
        <li role="presentation" ng-class="{'active':view.skills}">
          <a ng-click="view = {skills: true}">{{'HEADER_3' | translate}}
          </a></li>
        <li role="presentation" ng-class="{'active':view.education}">
          <a ng-click="view = {education: true}">{{'HEADER_4' | translate}}
          </a></li>
        <li role="presentation" ng-class="{'active':view.certifications}">
          <a ng-click="view = {certifications: true}">{{'HEADER_5' | translate}}</a>
        </li>
        <li role="presentation" ng-class="{'active':view.volunteer_work}">
          <a ng-click="view = {volunteer_work: true}"> {{'HEADER_6' | translate}}</a>
        </li>
      </ul>
    </div>


    <div class="col col-md-9">
      <div class="jumbotron" style="text-align: left" ng-show="view.experience">
        <h3 style="color: #555;">{{'HEADER_1' | translate}}</h3>
        <div ng-repeat="obj in data.EXPERIENCE" style="margin-bottom: 20px;">
          <div class="title">
            {{obj.title}}
          </div>
          <span class="duration">
            {{obj.duration}}
          </span>
          <br><br>
          <span class="company_details">
            {{obj.org}}&nbsp;({{obj.website}})
          </span>
          <br><br>
          <span class="desc_text">
            {{obj.about}}
          </span>
        </div>
      </div>

      <div class="jumbotron" style="text-align: left" ng-show="view.projects">
        <h3>{{'HEADER_2' | translate}}</h3>
        <div ng-repeat="(key, value) in data.PROJECTS track by $index" style="margin-bottom: 20px;">
          <div class="title">
            {{key}}
          </div>
          <span class="desc_text">
            {{value}}
          </span>
        </div>
      </div>

      <div class="jumbotron" style="text-align: left" ng-show="view.skills">
        <h3>{{'HEADER_3' | translate}}</h3>
        <div ng-repeat="(key, value) in data.SKILLS track by $index" style="margin-bottom: 20px;">
          <div class="title">
            {{key}}
          </div>
          <span class="desc_text">
            {{value}}
          </span>
        </div>
      </div>


      <div class="jumbotron" style="text-align: left" ng-show="view.education">
        <h3>{{'HEADER_4' | translate}}</h3>
        <div ng-repeat="obj in data.EDUCATION" style="margin-bottom: 20px;">
          <div class="title">
            {{obj.title}}
          </div>
          <span class="duration">
            {{obj.batch}}
          </span>
          <br><br>
          <span class="company_details">
            {{obj.university}}
          </span>
        </div>
      </div>



      <div class="jumbotron" style="text-align: left" ng-show="view.certifications">
        <h3>{{'HEADER_5' | translate}}</h3>

        <div ng-repeat="obj in data.CERTIFICATIONS" style="margin-bottom: 20px;">
          <div class="title">
            {{obj.title}}
          </div>
          <span class="duration">
            {{obj.batch}}
          </span>
          <br><br>
          <span class="company_details">
            {{obj.by}}
          </span>
        </div>

      </div>
      <div class="jumbotron" style="text-align: left" ng-show="view.volunteer_work">
        <h3>{{'HEADER_6' | translate}}</h3>
        <div ng-repeat="obj in data.VOLUNTEER_WORK" style="margin-bottom: 20px;">
          <div class="title">
            {{obj.title}}
          </div>
          <span class="duration">
            {{obj.year}}
          </span>
          <br><br>
          <span class="company_details">
            {{obj.org}}
          </span>
        </div>
      </div>
    </div>
  </div>


  <div style="text-align: center">
    <button class="btn btn-default" ng-click="changeLanguage('en')">English</button>
    <button class="btn btn-default" ng-click="changeLanguage('de')">German</button>

  </div>
</div>






