
<h1>Form</h1>

<form>
  <label>{{'TITLE' | translate}}</label>
  <br>
  <label>{{'FIRST_NAME' | translate}}</label>
  <br>
  <label>{{'LAST_NAME' | translate}}</label>
  <br>
  <label>{{'EMAIL_ADDRESS' | translate}}</label>
  <br>
  <label>{{'PHONE_NUMBER' | translate}}</label>
  <br>
  <label>{{'GENDER' | translate}}</label>
  <br>
  <label>{{'DEVICE_ID' | translate}}</label>
  <br>
  <label>{{'PICTURE' | translate}}</label>
  <br>
  <label>{{'NAME' | translate}}</label>
  <br>
  <label>{{'ADDRESS_LINE_1' | translate}}</label>
  <br>
  <label>{{'ADDRESS_LINE_2' | translate}}</label>
  <br>
  <label>{{'ADDRESS_LINE_2' | translate}}</label>
  <br>
  <label>{{'CITY' | translate}}</label>
  <br>
  <label>{{'STATE' | translate}}</label>
  <br>
  <label>{{'POST_CODE' | translate}}</label>
  <br>
  <label>{{'ZIP_CODE' | translate}}</label>
  <br>



</form>



<button ng-click="changeLanguage('en')">English</button>
<button ng-click="changeLanguage('de')">German</button>




